*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg-color:#0f151a;
    --text-color: #ffffff;
    --main-color: #f53fa1;
    --other-color: #00ecff;

    --h1-font: 4.7rem;
    --h1-font: 4.7rem;--h1-font: 4.7rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* INICIO HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all ease .55s;
}
.navlist {
    display: flex;
}
.navlist a {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0 30px;
    transition: all ease .55s;
}
.navlist a:hover {
    color: var(--other-color);
}
.logo img {
    width: 80%;
    height: auto;
}
.h-right{
    display: flex;
    align-items: center;
}
.h-right a {
    margin-right: 30px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--other-color);
    transition: all ease .55s;
}
.h-right a:hover {
    color: var(--text-color);
}
#menu-icon {
    font-size: 37px;
    color: var(--main-color);
    z-index: 1001;
    cursor: pointer;
    display: none;
}
/* FIM HEADER */

/* Inicio Home */
section {
    padding: 0 12%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(5deg, #954a6f 0, #873e6b 16.67%, #742c63 33.33%, #5b1357 50%, #40004c 66.67%, #270045 83.33%, #100043 100%);
}