*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg-color:#0f151a;
    --text-color: #ffffff;
    --main-color: #f53fa1;
    --other-color: #00ecff;

    --h1-font: 4.7rem;
    --h1-font: 4.7rem;--h1-font: 4.7rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all ease .55s;
}

.navlist {
    display: flex;
}

.navlist a {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0 30px;
    transition: all ease .55s;
}

.navlist a:hover {
    color: var(--other-color);
}